{% extends 'mail/base.eml.twig' %}

{% block subject %}{{ 'mail.reset_password.subject'|trans }}{% endblock %}

{% block content_text %}
{{ 'mail.reset_password.body_text'|trans }}

{{ url('app_user_resetpasswordverify', {'token': user.token}) }}
{% endblock %}

{% block content_html %}
    <container>
        <row>
            <columns>
                <p>{{ 'mail.reset_password.body_html'|trans }}</p>
                <p>
                    <button href="{{ url('app_user_resetpasswordverify', {'token': user.token}) }}">
                        {{ 'mail.reset_password.button'|trans }}
                    </button>
                </p>
            </columns>
        </row>
    </container>
{% endblock %}
