{% extends 'page.html.twig' %}

{% block content %}
    <h2>{{ 'form.reset_password.title'|trans }}</h2>
    {% include 'common/flashes.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <input type="submit" value="{{ 'form.reset_password.submit'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
