{% extends 'page.html.twig' %}

{% block content %}
    <div class="grid-x grid-margin-x">
        <div class="medium-6 medium-offset-3 cell">
            <h2>{{ 'form.reset_password_verify.title'|trans }}</h2>
            {% include 'common/flashes.html.twig' %}

            {{ form_start(form) }}
                {{ form_row(form.password) }}
                <input type="submit" value="{{ 'form.reset_password_verify.submit'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
