{% extends 'page.html.twig' %}

{% block content %}
    <h2>{{ 'form.code.title'|trans }}</h2>
    <p>{{ 'form.code.text'|trans }}</p>

    {% include 'common/flashes.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.code) }}
        <input type="submit" value="{{ 'form.code.submit'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
